.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-left: 2.6rem;
    padding-right: 8.7rem;
    
    height: 9rem;
    background-color: #020203;
}

.logo {
    width: 18rem;
    height: 6rem;
}

a {
    font-size: 2.4rem;
    color: white;
    text-decoration: none;
}
