.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 11.7rem;
    height: 100%;

    background-color: #020203;
}

.sidebar > * {
    margin: 1rem 0;
}

.icons {
    display: flex;
    flex-direction: column;
}

.icons > * {
    margin: 1rem 0;
}

.copyright {
    width: 40rem;
    margin: 20rem 0;
    transform: rotate(-90deg);
    
    font-size: 1.2rem;
    color: white;
}